<% if @lines.all.any? %>
  <h3>Select A Line:</h3>
    <ul>
      <% @lines.all.each do |line| %>
        <li><%= link_to line.name, line_path(line) %></li>
      <% end %>
    </ul>
<% else %>
  <h3>There are no lines in the system yet.</h3>
<% end %>

<% if current_admin %>
<%= link_to 'Add a new line', new_line_path %>
<% end %>
